.minimap-frame {
    position: absolute;
    right: var(--minimap-scrollbar-gutter, 14px);
    width: 100%;
    pointer-events: none;
    scale: var(--scale);
    transform-origin: top right;
    z-index: 1;
}

.minimap-slider {
    right: var(--minimap-scrollbar-gutter, 14px);
    position: absolute;
    width: calc(100% * var(--scale));
    background-color: var(--code-comment);
    z-index: 2;
}

.minimap-slider.dragging {
    opacity: 0.5;
}

.minimap-container {
    position: absolute;
    height: 100%;
    width: 100%;
    pointer-events: none;
    overflow: hidden;
}

.minimap-hitbox {
    position: absolute;
    top: var(--minimap-top-offset, 0px);
    right: var(--minimap-scrollbar-gutter, 14px);
    height: calc(
        100% - var(--minimap-top-offset, 0px) - var(--minimap-bottom-offset, 0px)
    );
    width: calc(100% * var(--scale));
    pointer-events: auto;
    z-index: 3;
    cursor: pointer;
}

.minimap-disabled .minimap-container,
.minimap-disabled .minimap-frame,
.minimap-disabled .minimap-slider,
.minimap-disabled .minimap-hitbox {
    display: none;
}

.workspace-leaf.markdown-minimap-helper-leaf {
    position: fixed !important;
    left: -10000px !important;
    top: 0 !important;
    width: 800px !important;
    height: 100vh !important;
    overflow: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.workspace-tab-header.markdown-minimap-helper-tab {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    min-width: 1px !important;
    min-height: 1px !important;
    max-width: 1px !important;
    max-height: 1px !important;
    overflow: hidden !important;
    opacity: 0 !important;
    pointer-events: none !important;
}

.markdown-minimap-force-render-scale {
    transform-origin: top right;
    scale: .1;
}
